# --- Segurança e Variáveis de Ambiente ---
.env
*.env
[Bb]in/
[Oo]bj/

# --- Visual Studio ---
.vs/
*.user
*.userosscache
*.sln.docstates

# --- ASP.NET Core ---
appsettings.Development.json
UserSecrets/
wwwroot/lib/

# --- Logs e Temporários ---
*.log
.DS_Store